.flex{
   display:flex;


}

.item-center{
    align-items:center ;
}

.justify-between{
     justify-content:space-between ;

}

.btn{
    padding:1rem 2rem ;
    margin-top:4rem ;
    font-size:0.8rem ;
    font-weight:2px solid transparent ;
    cursor:pointer;
    text-transform: uppercase;
    transition:all .3s ease ;

}
.btn-primary{
    background:var(--primary) ;
    color:var(--dark);
    



}
.btn-primary:hover{
          background:transparent;
          border-color:var(--primary) ;
          color:var(--primary)
}